table{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 5px;
}
tr{
    border: 1px solid #333;
    padding: 5px;
    
}
.td td{
    background-color: #fff;
}
.td-1 td{
    background-color: #fff;
}
.td-2 td{
    background-color: #fff;
}
td{
    border: 1px solid transparent;
    text-align: center;
    padding: 5px;
    color: #333;
    background-color: #e8e8e8;

}
th{
    border: 1px solid transparent;
    padding: 5px;
    background-color: rgb(13, 154, 13);
    color: aliceblue;
}